.DS_store
venv
.venv
python_demo/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
CLAUDE.md
Analyse.md
DEMO_GUIDE.md
.python-version
uv.lock
test*
Agent/
BCI/
MCP_for_Agent/
peripheral/
*.csv
/demos
/bci_data
.claude/
dashboard/node_modiles
dashboard/.vite